fastapi
uvicorn
pika
pydantic
python-dotenv
TTS
openai

# old requirements
sounddevice
numpy
keyboard
python-dotenv
pyloudnorm
aiofiles
# whisper
openai-whisper @ git+https://github.com/openai/whisper.git@0a60fcaa9b86748389a656aa013c416030287d47
pydantic-settings
python-multipart
gradio
